
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Stockafolio</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var jsonData = $.ajax({
            url: "/chartData",
            data:{user:'{{user}}'},
            dataType: "json",
            async: false
            }).responseText;
        var data = new google.visualization.DataTable(jsonData);
        var options = {
          pieHole: 0.5,
          chartArea: {'width': '90%', 'height': '100%'},
          pieSliceTextStyle: {
            color: 'black',
          },
        };
        var chart = new google.visualization.PieChart(document.getElementById('donut_single'));
        chart.draw(data, options);
      };

      $(document).ready(function() {
    $('tab12').DataTable( {
        scrollY:        '50vh',
        scrollCollapse: true,
        paging:         false
    } );
} );
  </script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Stockafolio</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div>
          <form class="navbar-form navbar-right" method="GET" action="user1">
            <div class="form-group">
              <input type="text" placeholder="Enter User ID" class="form-control" name="user">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div><!--/.navbar-collapse -->
        <div>
        <form class="navbar-form navbar-right">
          <p><a class="btn btn-default" href="/user" role="button">Loop Users for Demo &raquo;</a></p>
        </form>
      </div>
    </div>
  </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h3>Hello {{user}}</h3>
        <p> Welcome to the Stockafolio! </p>
        <p> Here is your Portfolio </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Total in Numbers</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Total Volume</th>
                <th>Total Value</th>
              </tr>
            </thead>
            <tbody id="port_counter">
                {% for val in port_total %}
                              <tr>
                                <td>{{val.portfolio_count}}</td>
                                <td>{{val.portfolio_value}}</td>
                              </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <h2>Portfolio</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Ticker</th>
                <th>Quantity</th>
                <th>Total Value</th>
                <th>Sector</th>
              </tr>
            </thead>
            <tbody id="port_lister">
                {% for val in port_list %}
                              <tr>
                                <td>{{val.tickername}}</td>
                                <td>{{val.tickerquant}}</td>
                                <td>{{val.tickervalue}}</td>
                                <td>{{val.tickersector}}</td>
                              </tr>
                {% endfor %}
            </tbody>
          </table>
       </div>
        <div class="col-md-4">
          <h2>Sector-Wise Proportion</h2>
            <div id="donut_single" style="width: 600px; height: 200px;"></div>
        </div>
      </div>
    </div>

<div class="container">
  <h2>Latest Trades</h2>
  <!--<p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->
  <table class="table">
    <thead>
      <tr>
        <th>Stock</th>
        <th>Volume</th>
        <th>Price</th>
        <th>Total Value</th>
        <th>Buy/Sold</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
        {% for val in hist_trades %}
                      <tr>
                        <td>{{val.tickername}}</td>
                        <td>{{val.tradequantity}}</td>
                        <td>{{val.tickerprice}}</td>
                        <td>{{val.total_val}}</td>
                        <td>{{val.tradetype}}</td>
                        <td>{{val.tradetime}}</td>
                      </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

      <hr>

      <footer>
        <p>&copy; Karthik Chaganti </p>
      </footer>
    </div> <!-- /container -->
</body>
</html>
